

.sign-up-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://res.cloudinary.com/dsfgf7eb7/image/upload/v1718718836/Caregivers-vs-Caretakers_w8rd17.webp') no-repeat center center/cover;
    filter: blur(10px);
    z-index: 1;
  }
  
  .sign-up-container {
    position: relative;
    z-index: 2;
  }
  
  .sign-up-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }
  
  .sign-up-card h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .sign-up-card .form-label {
    font-weight: 500;
  }
  
  .sign-up-card .form-control {
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .sign-up-card .btn-primary {
    background-color: #000; /* Dark color for the button */
    border: none;
  }
  
  .sign-up-card .btn-primary:hover {
    background-color: #000; /* Slightly lighter dark color on hover */
  }
  
  .alert {
    margin-top: 15px;
  }
  
 